/* Write your CSS code here */

.userInfo-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.profile {
  width: 160px;
}

.heading {
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 500;
}

.desc {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
}
